<div id="main">
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
    <% @photo_gallery_entries.each do |photo_gallery_entry| %>
      <div class="grid-item">
        <%= image_tag photo_gallery_entry.image, class: "image-item" %>
      </div>
    <% end %>
  </div>
</div>
