<div class="px-1 position-fixed" id="sticky-sidebar">
  <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
    <div class="box">
      <div id="overlay">
        <div class="avatar">
          <div class="trick"></div>
        </div>
        <ul class="name">Salary Duong</ul>
      </div>
    </div>
    <div class="text-center">
      <a href="https://www.facebook.com/profile.php?id=100021858039972"
        class="btn btn-outline-primary social" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/salaryduong/" target="_blank"
        class="btn btn-outline-danger social">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="btn btn-outline-info social">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
  <footer class="text-center">
    Design by wataridori
  </footer>
</div>
