body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: url("https://res.cloudinary.com/phucdx/image/upload/v1620453890/salary/a_mbtser.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 250px 45%;
  position: relative;
}

#main {
  max-width: 70%;
  margin-left: 30%;
}

#sticky-sidebar {
  max-width: 30%;
  background: url("https://res.cloudinary.com/phucdx/image/upload/v1621349695/salary/16_zbesiu.jpg");
  background-size: cover;
  position: relative;

  footer {
    position: absolute;
    width: 96%;
    bottom: 3%;
    color: #fff;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

#overlay {
  border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;

  .avatar {
    background: url("https://res.cloudinary.com/phucdx/image/upload/v1620446777/salary/1_drqvex.jpg") center center no-repeat;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    align-content: center;
    cursor: pointer;
    transition: 1.6s;
    border: 3px solid #fff;

    &:hover {
      box-shadow: 0 0 10px 0 #9e9ea9;
      transform: scale(1.05);
    }
  }

  .trick {
    display: inline-block;
    vertical-align: middle;
    height: 150px;

    &:hover img {
      transform: scale(1);
    }
  }

  .name {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    position: absolute center;
    text-align: center;
    padding-left: 0%;
    margin-top: 40px;
  }
}

.social {
  border-radius: 50%;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  position: relative;

  .fa-facebook-f {
    position: absolute;
    font-size: 22px;
    right: 9px;
    top: 5px;
  }

  .fa-instagram {
    position: absolute;
    font-size: 22px;
    right: 7px;
    top: 5px;
  }

  .fa-twitter {
    position: absolute;
    font-size: 22px;
    right: 4px;
    top: 5px;
    color: #0564c5;
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  max-width: 31%;
  margin: 10px;
  transition: all 0.35s ease-in-out;

  .image-item {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &:hover{
    cursor: pointer;
    filter: grayscale(0%) blur(0);
  }

  &.item-opened{
    width: 100%;
    height: auto;
    filter: grayscale(0%) blur(0);
    transform: scale(1.5);
  }
}

.grid-alpha{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;

  &:hover{
    cursor: zoom-out;
  }
}

@media only screen and (max-width: 1239px) {
  .grid-item {
    max-width: 30%;

    &.item-opened {
      top: 6% !important;
    }
  }
}

@media only screen and (max-width: 877px) {
  .grid-item {
    max-width: 29%;
  }
}

@media only screen and (max-width: 735px) {
  .grid-item {
    max-width: 31%;
    margin: 5px;

    &.item-opened {
      top: 11% !important;
      left: 12% !important;
    }
  }
}

@media only screen and (max-width: 675px) {
  .grid-item {
    max-width: 30%;
  }
}

@media only screen and (max-width: 414px) {
  .grid-item {
    max-width: 30%;

    &.item-opened {
      top: 15% !important;
      left: 30% !important;
    }
  }
}

@media only screen and (max-width: 280px) {
  .grid-item {
    max-width: 29%;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-item.item-opened {
    top: 20% !important;
    left: 15% !important;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-position: 150px 45%;
  }
}

@media only screen and (max-width: 760px) {
  #sticky-sidebar {
    max-width: 35%;

    #overlay {
      .name {
        font-size: 25px;
      }
    }
  }
  #main {
    max-width: 65%;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 680px) {
  #sticky-sidebar {
    #overlay {
      .avatar {
        width: 150px;
        height: 150px;
      }
      .name {
        font-size: 20px;
      }
    }
  }

  .grid-item.item-opened {
    top: 25% !important;
    left: 10% !important;
  }
}

@media only screen and (max-width: 530px) {
  body {
    background-position: 0 45%;
  }

  #sticky-sidebar {
    position: static !important;
    max-width: 100%;
    max-height: 55vh !important;

    footer {
      display: none;
    }
  }

  #main {
    max-width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 430px) {
  body {
    background-position: -150px 45%;
  }

  #sticky-sidebar {
    max-height: 45vh !important;

    .avatar {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 415px) {
  body {
    background-position: -150px 45%;
  }

  #sticky-sidebar {
    max-height: 35vh !important;
  }

  .grid-item.item-opened {
    top: 25% !important;
    left: 35% !important;
  }
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  body {
    background-position: -100px 45%;
  }

  #sticky-sidebar {
    max-height: 32vh !important;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  body {
    background-position: -100px 45%;
  }

  #sticky-sidebar {
    max-height: 42vh !important;
  }

  .grid-item.item-opened {
    top: 25% !important;
    left: 35% !important;
  }
}

@media only screen and (max-width: 330px) {
  body {
    background-position: -100px 45%;
  }

  #sticky-sidebar {
    max-height: 45vh !important;
  }

  .grid-item.item-opened {
    top: 20% !important;
    left: 35% !important;
  }
}
